$text-disable: #8c8c8c;
$text-dark: #212529;
$text-muted: #6c757d;
$text-gray-light: #4f4f4f;
$btn-background-gray: #f0f0f0;
$primary-color: #2c4a9f;
$primary-color-hover: #003a8c;
$light-color: #e9f1ff;
$primary-light-hover: #69c0ff;

$PinkColor: rgb(231, 201, 255);
$BlueColor: rgb(166, 221, 255);
$yellowColor: rgb(255, 214, 185);
$GreenColor: rgb(169, 234, 218);
$SilverColor: rgb(149, 155, 165);
$Online: #28a745;

$FocusLink: #2c4a9f;
$HoverLink: #003a8c;
$TextBtn: #e9f1ff;
$Btn: #2c4a9f;
$BtnHover: #003a8c;
$TextBtnHover: #212529;
$TextMuted: #6c757d;
$Pass: #06ba02;
$NotPass: #1b2150;
