.exam_results {
  table {
    width: 100%;
  }

  table td,
  table th {
    padding: 8px 0;
  }

  table tr {
    border-bottom: 0.5px ridge #ddd;
  }

  table tr:last-child {
    border-bottom: none;
  }

  table tr:last-child {
    border-bottom: none;
  }

  table tr:first-child {
    color: $SilverColor;
    font-size: 12px;
  }

  table td:last-child span {
    border-radius: 10rem;
    background: #06ba02;
    padding: 4px 7px;
    color: white;
  }
}
